@import "base/_animations.scss";
@import "base/_variables.scss";
@import "base/animations.scss";
@import "blocks/_promo.scss";
@import "blocks/_event.scss";
@import "blocks/_teachers.scss";
@import "blocks/_contacts.scss";
@import "blocks/_footer.scss";
//!LAST IMPORT
@import "_media.scss";
*{
	font-family: 'Rubik', sans-serif;
	font-display: swap;
}
html, body { 
	scroll-behavior: smooth !important;
}

