.title-white{
    font-weight: 500;
    font-size: 5vw; 
    color: white;
    margin: 0 0;
    span{
        color: red;
        &:hover{
            color: white;
        }
    }
}
.contacts{
    padding: 20px 0px 30px 0px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/contacts-bg.jpg);
    background-position: center center;
    background-size:cover;
    background-repeat:no-repeat;
    hr{
        color: white;
        height: 0.5vw;
        width: 46vw;
        opacity: 1;
        margin: 0 0;
        margin-bottom: 30px;
    }
    &__map{
        position: relative;
        z-index: 1;
        &-bg{
            position: absolute;
            z-index: -1;
            width: 95%;
            height: 440px;
            background-color: rgba($color: #ff0000, $alpha: 0.8);
            top: 20px;
            left: 20px;
            border-radius: 20px;

        }
    }
    #map > ymaps{
        border-radius: 20px;
        overflow: hidden;
    }
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
    }
    &__right{
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    &-form{
        padding: 10px 30px 20px 30px;
        display: flex;
        flex-direction: column;
        background-color: rgba($color: #5a5a5a, $alpha: 0.8);
        border-radius: 20px;
        height: 460px;
        span{
            height: 50px;
            width: 50px;
            border-radius: 10px;
            padding-left: 3px;
            font-size: 40px;
        }
        input{
            height: 50px;
            border-radius: 10px;
            background-color: #FFFFFF;
            border-style: none;
            padding: 0 20px;
            font-weight: 400;
            font-size: 22px;
            color: #000000;
        }
        &__header{
            font-size: 22px;
            color: #FFFFFF;
            text-align: center;
        }
        &__label{
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 20px;
            color: #FFFFFF;
        }
        button{
            display: block;
            width: 60%;
            margin: 0 auto;
            font-size: 22px;
        }
    }
}