.promo{
    min-height: 750px;
    background-color: rgba($color: #000000, $alpha: 0.6);
    background-image: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/promo-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    &__header{
        font-weight: 500;
        font-size: 200px; 
        line-height: 200px;
        color: white;
    }
    hr{
        color: white;
        height: 7px;
        opacity: 1;
    }
    li{
        a{
            &:hover{
                text-decoration:line-through;
            }
        }
    }
}