.promo{
    min-height: 100vh;
    padding: 0 0 150px 0;
    background-image: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/promo-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    &__header{
        font-weight: 500;
        font-size: 4vw; 
        line-height: 4.5vw;
        color: rgba($color: #ffffff, $alpha: 0.8);
        span{
            font-size: 12vw; 
            line-height: 12.5vw;
            span{
                color: red;
                &:hover{
                    color: rgba($color: #ffffff, $alpha: 0.8);
                }
            }
        }
    }
    hr{
        color: white;
        height: 0.5vw;
        opacity: 1;
        margin-top: 10px;
        margin-bottom: 150px;
    }
    li{
        a{
            transition: 0.5s all;
            &:hover{
                text-decoration:underline;
                //вставить анимацию
            }
        }
    }
}